<mat-toolbar color="primary" class="mat-toolbar-sticky">
    <mat-toolbar-row>
      <!-- Logo -->
       <a  routerLink="/" >
        <img src="https://fleetweb-za.cartrack.com/assets/cartrack-menu-logo-black.svg" alt="Cartrack Logo" class="navbar-logo">
    </a>
      <!-- Spacer to push the login and verification buttons to the right -->
      <span class="example-spacer"></span>
  
      <!-- Login and Vehicle Verification buttons -->
      <div class="auth-buttons">
        <button mat-button routerLink="/login" class="login-button" *ngIf="!isLoggedIn" (click)="login()">
          <mat-icon>account_circle</mat-icon>
          Login
        </button>
        <button mat-button routerLink="/" class="logout-button" *ngIf="isLoggedIn" (click)="logout()">
          <mat-icon>login</mat-icon>
          Logout
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
